@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ffffff;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.header {
    margin: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}



.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {margin-left: 40px;

  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00c853;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

.button.dark {
  background-color: #333333;
  color: #ffffff;
}

.features {
  padding: 50px 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.feature-grid {
  /* margin-left: 50px;
  margin-left: 50px; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.testimonials {
  padding: 50px 20px;
  background-color: #2a2a2a;
}

.testimonial-grid {
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.download {
  padding: 50px 20px;
  text-align: center;
}

.app-info {
    margin-right: 40px;
  text-align: right;
  margin-left: 20px;
}

.carousel {
    margin-left: 50px;
    margin-right: 50px;

  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 20px 0;
}

.carousel img {
  height: 600px;
  flex-shrink: 0;
  width: 300px;
}